<div class="header">
  <div class="logo">
    <a href="https://www.amazon.com/Minimalist-Entrepreneur-Great-Founders-More/dp/0593192397">
      <%= image_tag("book.png", loading: "lazy") %>
    </a>
    <h1>Ask My Book</h1>
  </div>
</div>

<div id="CompContainer" class="main"></div>

<footer>
  <p class="credits">
    Project by <a href="https://twitter.com/shl">Sahil Lavingia</a> • <a href="https://github.com/slavingia/askmybook">Fork on GitHub</a></a>
  </p>
</footer>